[Desktop Entry]
Name = Print File
Description = Print the selected file using xfprint
Profiles = text_file

[X-Action-Profile text_file]
Name = Print the current text file
SelectionCount = >0
Exec = xfprint4 %f
MimeTypes = text/plain
