
[Desktop Entry]
Type=Action
ToolbarLabel[en_US.UTF-8]=Tag files with Easytag
Icon[en_US.UTF-8]=/usr/share/pixmaps/EasyTAG.xpm
Tooltip[en_US.UTF-8]=Tag selected files with Easytag
Name[en_US.UTF-8]=Tag files with Easytag
Profiles=profile-pre-v2;

[X-Action-Profile profile-pre-v2]
Exec=easytag %d
#Basenames=*.MP3;*.flac;*.ogg;*.aac;
MimeTypes=audio/*; !audio/x-vorbis+ogg;
#Matchcase=true
#Capabilities=Owner;!Executable;
#Schemes=!file;http;
Name[en_US.UTF-8]=Profile automatically created from pre-v2 action
